{% extends 'components/base.html' %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
<div class="container title">
  <h1 class="category-title">{{ category }}</h1>
  <hr />
</div>
<div class="container category"
  <ul class="category-list">
  {% for article in dates[::-1] %}
    {% if ".md" in article.source_path %}
    <li class="category-item">
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      {% if article.due %}
        (Due: {{ article.due|strftime('%b. %d, %Y %H:%M') }})
      {% else %}
        ({{ article.date|strftime('%b. %d, %Y') }})
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
{% endblock %}
